<html>
<head>
    <title>Compose a blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!--<link rel="stylesheet" type="text/css" href="stylesheet.css">-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/17c7962084.js"></script>
    <link rel="stylesheet" type="text/css" href="compose.css">
</head>
<body id="body" background="pics/blog.jpg">
<form >


<!--  navbar  -->

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <img src="pics/logo.jpg" class="logo" height="50"
         width="80">
    <a class="navbar-brand" href="/">Fitness</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bmi">BMI Calculator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/macros">Macros Calculator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/signup">Sign Up</a>
            </li>
        </ul>
    </div>
    <!-- <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
               id="premiumsearch">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
</nav>

<div class = "comp">



<h1>Compose</h1>
<form class="" action="/compose" method="post">

  <div class="form-group">

    <label>Title</label>
    <input class="form-control" type="text" name="inputTitle" value="">
    <label>Image URL</label>
    <input class="form-control" type="text" name="inputURL" value="">

 <label>Post</label>
 <textarea  class="form-control" name="inputPost" rows="8" cols="150"></textarea>


  </div>


  <button type="submit" name="button" class="btn btn-primary">Publish</button>

</form>

</div>



<!-- navbar ends -->
