.card {

    background-color: rgba(0, 28, 222, 0.08);
    margin-left: 170px;

    padding-left: 5px;

}

#f1 {
    margin-left: 16px;
}

#premiumsearch {
    width: 9cm;
}

body {
    background-size: 110%;
}

#p1, #p2, #p3, #p4, #p5, #p6 {
    font-size: 25px;

    color: #005cbf;
    font-family: "Comic Sans MS";

   margin-left: 10px;
}


#l1 {
    margin-bottom: 20px;
}

#results1, #results2, #results3, #results4 {
    margin-top: 19px;
    /* color: rgba(0, 28, 169, 1); */
    color : black;
    font-size: 20px;
}

.navbar, #f {
    background: #355C7D; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #C06C84, #6C5B7B, #355C7D); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.nav-item {
    padding: 1rem;
}

.logo {
    border-radius: 2rem;
    padding: 0.5rem;
}

.fixed-top {
    left: 0.5rem;
    right: 0.5rem;
}

input, button {
    margin-bottom: 12px;
    margin-left : 10px; 
}

h2 {
    margin-top: 80px;
    font-size: 42px;
    margin-bottom: 35px;
    margin-left: 19%;
    color: rgba(0, 28, 169, 1);
    font-family: "Bookman Old Style";
}
